.about {
  background-color: @bg-light;
  padding: 4em 0;
  border-top: 1px solid @blue-gray;
  position: relative;

  &:after {

    @media (min-width: @screen-md) {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      background-color: @blue-gray;
    }
  }

  &:before {
    position: absolute;
    content: '';
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    width: 58px;
    height: 58px;
    background-color: @white;
    border: 1px solid @blue-gray;
    border-radius: 50%;
    z-index: 200;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-color: contain;
    background-position: center;
  }

  &__us {

    @media (max-width: @screen-md) {
      margin-bottom: 5em;
    }

    @media (min-width: @screen-md) {
      padding-right: 80px;
    }
  }

  &__text {
    margin-bottom: 68px;
  }
}