.advantages {

  @media (min-width: @screen-md) {
    padding-left: 80px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__icon {
    border: 2px solid @orange;
    margin-right: 20px;
  }

  &__info {
    display: inline-block;
    max-width: 70%;
    margin: 0;
    vertical-align: top;
  }

  &__info dt {
    color: @orange;
    font-weight: 700;
    font-size: @font-size--h4;
  }

  &__info dd {
    margin: 0;
  }
}