.btn {
  background-color: @blue;
  color: @white;
  box-shadow: 0 0 14px 0 rgba(155, 161, 176, 0.8);
  border-radius: 2px;
  padding: 15px 50px;
  font-weight: 700;

  &:hover,
  &:active,
  &:focus {
    background-color: @orange;
    color: @white;
  }

  &:active {
    box-shadow: none;
  }

  &--bg-white {
    background-color: @white;
    color: @blue;
    font-weight: 500;
  }

  &--bg-transparent {
    background-color: transparent;
    color: @blue;
    border: 1px solid #E1E4EB;
    box-shadow: none;
    font-weight: 500;
    cursor: url(../img/cursor.svg), auto;
  }

  &--form {
    width: 100%;
  }
}