.certificates {
  padding: 5em 0;
  position: relative;
  z-index: 11;

  &__title {
    position: absolute;
    z-index: 10;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    background-color: @white;
    padding: 0 60px;
    min-width: 370px;
    text-align: center;
  }

  &__wrapper {
    border: 1px solid @blue-gray;
    border-radius: 2px;
    padding: 68px 64px;
  }

  &__content {
    width: 100%;
    height: auto;
  }
}