.feedback {

  @media (min-width: @screen-lg) {
    padding: 0 60px;
  }

  &__title {
    font-weight: 400;
    color: @orange;
    margin-bottom: 20px;
  }

  &__desc {
    margin-bottom: 40px;
  }

  &__phone {
    font-size: @font-size--h4;
    color: @orange;
    font-weight: 700;

    svg {
      fill: @orange;
      transform: translateY(5px);
      margin-right: 20px;
    }
  }
}