.header-feedback {
  background-color: @gray-darker;
  text-align: right;
  min-height: 34px;

  a {
    font-size: @font-size--small;
    color: @white;
    line-height: 34px;
    margin-left: 10px;

    @media (min-width: @screen-xs) {
      margin-left: 45px;
    }
  }

  &__phone, &__mail, &__map {
    margin-right: 5px;

    @media (min-width: @screen-xs) {
      margin-right: 15px;
    }
  }

  &__phone {
    transform: translateY(4px);
    fill: @white;
  }

  &__mail {
    transform: translateY(2px);
  }

  &__map {
    transform: translate(3px,2px);
  }
}