.logo {
  padding: 23px 15px;

  @media (min-width: @screen-sm) {
    padding: 23px 0;
  }

  @media (min-width: @screen-md) {
    padding: 17px 0;
  }

  @media (min-width: @screen-lg) {
    padding: 10px 0;
  }

  img {
    width: 100px;
    height: auto;

    @media (min-width: @screen-md) {
      width: 130px;
    }

    @media (min-width: @screen-lg) {
      width: 163px;
    }
  }
}