.main-nav {

  &__link {
    border-bottom: 2px solid transparent;
    color: @white;
    font-size: @font-size--small;
    text-transform: uppercase;

    &:hover {
      border-bottom: 2px solid @orange;
    }
  }
}