.news {
  display: block;
  margin-bottom: 5em;

  @media (min-width: @screen-lg) {
    padding: 0 60px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 500;
  }

  &__desc {
    color: @gray;
  }

  &__read-more {
    color: @blue;
    font-weight: 700;
    font-size: @font-size--small;
    text-decoration: underline;
    display: block;
    text-align: right;
  }
}