.page-footer {
  background-color: @gray-darker;
  color: @white;
  padding: 30px 0 20px 0;

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    color: @white;
  }
}