.promo {
  height: 80vh;
  background-color: @gray-darker;
  color: @white;
  position: relative;

  &__info {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 20%;
  }

  &__title {
    font-size: @font-size--h3;
    max-width: 70%;
    margin-bottom: 1.2rem;
    font-weight: 400;

    @media (min-width: @screen-lg) {
      font-size: @font-size--h1;
    }
  }

  &__desc {
    font-size: @font-size--h4;
  }

  &__slider {
    z-index: 1;
  }

  div:not(.owl-controls):not(.promo__info) {
    height: 100%;
  }

  &__slide {
    background-image: url(../img/promo-slide_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}