.real-projects {
  padding: 6em 0;
  position: relative;

  &__title {
    text-align: center;
    font-size: @font-size--h2;
    margin-bottom: 30px;

    @media (min-width: @screen-md) {
      min-width: 600px;
      position: absolute;
      z-index: 10;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: @white;
      padding: 0 60px;
      min-width: 370px;
    }

    @media (min-width: @screen-md) {
      top: 67px;
      min-width: 600px;
      margin-bottom: 0;
    }
  }

  &__wrapper {

    @media (min-width: @screen-md) {
      border: 1px solid @blue-gray;
      border-radius: 2px;
      padding: 55px 40px 80px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 10px;
  }

  &__content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270px;
    position: relative;

    &:hover .real-projects__overlay {
      display: block;
    }
  }

  figcaption {
    text-align: center;
  }

  &__overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 71, 141, .8);
    cursor: url(../img/cursor-white.svg), auto;
  }

  &__link {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid @white;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    cursor: url(../img/cursor-white.svg), auto;

    span {
      color: @white;
      display: block;
      padding-top: 27px;
    }

    svg {
      opacity: 0.5;
      fill: @white;
    }
  }

  &__btn-to-all-projects {
    position: absolute;
    background-color: @white;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 30px;

    @media (min-width: @screen-md) {
      padding: 0 60px;
      bottom: 71px;
    }
  }
}