.services {
  position: relative;
  padding: 3em 0;
  background-color: @bg-light;

  @media (min-width: @screen-md) {
    padding: 7em;
  }

  &__wrapper {
    z-index: 10;

    @media (min-width: @screen-md) {
      position: absolute;
      top: -135px;
      left: 50%;
      transform: translateX(-50%)
    }
  }

  &__item {
    height: 270px;
    margin-bottom: 20px;
  }

  &__img {
    background-color: @gray-darker;
    position: relative;
    width: 100%;
    height: 50%;

    @media (min-width: @screen-md) {
      background-color: transparent;
      border: 2px solid @gray;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &__desc {
    height: 50%;
    background-color: @white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 14px 0 @blue-gray;

    span {
      font-size: @font-size--h3;
      line-height: 26px;
    }
  }
}