.testimonials {
  padding: 5em 0;
  background-color: @bg-light;

  &__item {
    margin-bottom: 3em;
  }

  &__title {
    text-align: center;
    margin-bottom: 70px;
  }

  &__author {
    margin-bottom: 1em;
    position: relative;
    padding: 0 12px;

    &:before {
      position: absolute;
      content: '';
      background-color: @orange;
      width: 3px;
      height: 100%;
      left: 0;
      top: 0;
    }

    q {
      display: block;
      font-size: @font-size--h4;
      font-weight: 500;
    }
  }

  &__desc {
    margin: 0;
  }
}