.title {
  margin-bottom: 70px;
  font-weight: 400;

  &--delimiter {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      background-color: @gray-darker;
      border-radius: 2px;
      width: 50px;
      height: 3px;
      left: 0;
      bottom: -25px;
    }
  }
}