.wrapper {
  background-color: @bg-light;
  padding: 0 0 3em 0;
  position: relative;
  z-index: 0;

  @media (min-width: @screen-lg) {
    top: -200px;
    padding: 150px 0 40px 0;
    margin-bottom: -200px;

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: ~"calc(100% - 120px)";
      left: 50%;
      top: 120px;
      transform: translateX(-50%);
      background-color: @blue-gray;
    }
  }
}