@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}