html {
  box-sizing: border-box;
  font-size: @font-size;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: @gray-darkest;
  background-color: @white;
}

h1, h2, h3, h4, h5, h6, ul, ol, {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 8px;
  margin-bottom: 12px;
}

i {
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-size: @font-size--h1;
}
h2 {
  font-size: @font-size--h2;
}
h3 {
  font-size: @font-size--h3;
}
h4 {
  font-size: @font-size--h4;
}
h5 {
  font-size: @font-size--h5;
}
h6 {
  font-size: @font-size--h6;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}