// Width
@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

// Basic colors
@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

// Other colors
@blue:                        #12478D;
@blue-gray:                   #9BA1B0;
@orange:                      #E08011;
@bg-light:                    #FAFAFA;

// Typography
@font-size--h1:               3em;
@font-size--h2:               2.25em;
@font-size--h3:               1.5em;
@font-size--h4:               1.25em;
@font-size--h5:               1em;
@font-size--h6:               1em;
@font-size--small:            0.875em;


// Fonts
@font-family:                 'Ubuntu', sans-serif;
@font-size:                   16px;
