<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="hidden-xs  hidden-sm  col-md-3">
        <div class="logo">
          <img src="img/logo.svg" alt="">
        </div>
      </div>
      <ul class="page-footer__list  col-sm-3  col-md-3">
        <li class="page-footer__item"><a class="page-footer__link" href="/">Контакты</a></li>
        <li class="page-footer__item"><a class="page-footer__link" href="/">Новости</a></li>
        <li class="page-footer__item"><a class="page-footer__link" href="/">Проекты</a></li>
      </ul>
      <ul class="page-footer__list  col-sm-3  col-md-3">
        <li class="page-footer__item"><a class="page-footer__link" href="/">Услуги</a></li>
        <li class="page-footer__item"><a class="page-footer__link" href="/">Автопарк</a></li>
        <li class="page-footer__item"><a class="page-footer__link" href="/">Клиенты</a></li>
      </ul>
      <ul class="page-footer__list  col-sm-6  col-md-3">
        <li class="page-footer__item">
          <a class="page-footer__link" href="tel:+79214452555"><svg class="header-feedback__phone" width="18" height="18"><use xlink:href="#phone"></use></svg>+7 (921) 445 25-55</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="mailto:info@heavy-trans.ru"><svg class="header-feedback__mail" width="17" height="13"><use xlink:href="#mail"></use></svg>info@heavy-trans.ru</a>
        </li>
        <li class="page-footer__item">
          <svg class="header-feedback__map" width="13" height="21"><use xlink:href="#map"></use></svg>СПб, Площадь Конституции, д.7 лит. А пом. 178Н
        </li>
      </ul>
    </div>
  </div>
</footer>