<header class="page-header">
  <div class="header-feedback">
    <div class="container">
      <a href="tel:+79214452555"><svg class="header-feedback__phone" width="18" height="18"><use xlink:href="#phone"></use></svg>+7 (921) 445 25-55</a>
      <a href="mailto:info@heavy-trans.ru"><svg class="header-feedback__mail" width="17" height="13"><use xlink:href="#mail"></use></svg>info@heavy-trans.ru</a>
    </div>
  </div>
  <div class="header-nav">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <div class="logo">
            <img src="img/logo.svg" alt="">
          </div>
        </a>
      </div>

      <nav class="collapse  navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="main-nav  nav  navbar-nav  navbar-right">
          <li class="main-nav__item"><a class="main-nav__link" href="/">О компании</a></li>
          <li class="main-nav__item  dropdown">
            <a href="/" class="main-nav__link  dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Услуги</a>
            <ul class="dropdown-menu">
              <li><a href="/">Негабаритные перевозки</a></li>
              <li><a href="/">Автомобильные перевозки</a></li>
              <li><a href="/">Морские перевозки и экспедирование</a></li>
              <li><a href="/">Работа с документами</a></li>
            </ul>
          </li>
          <li class="main-nav__item"><a class="main-nav__link" href="/">Проекты</a></li>
          <li class="main-nav__item"><a class="main-nav__link" href="/">Автопарк</a></li>
          <li class="main-nav__item"><a class="main-nav__link" href="/">Клиенты</a></li>
          <li class="main-nav__item"><a class="main-nav__link" href="/">Контакты</a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>